body {
    background-color: #d3d3d3;
    display: flex;                  /*Makes it a flex container*/
    flex-direction: column;         /*Makes children stack vertically*/
    align-items: center;            /*Center children on horizontal axis*/
    justify-content: flex-start;    /*Center children starting near the top*/
    height: 100vh;                  /*Use 100% of viewport height without javing to scroll*/
    margin: 0;                      /*Reset margin padding*/
}

h1 {
    color: black;                /*Sets color of title to white*/
}


#log1Section {
    
    width: 1400px;
    display: flex;
}

#log1DescriptionContainer {
    margin-right: 300px;
}