* {
    font-family: sans-serif;
}

body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('Photos/City.jpg');
    background-position: center;
    display: flex;              /*Makes it a flex container*/
    flex-direction: column;     /*Makes children stack vertically*/
    align-items: center;        /*Center children on horizontal axis*/
    justify-content: center;    /*Center children along main/verical axis*/
    height: 100vh;              /*Use 100% of viewport height without javing to scroll*/
    margin: 0;                  /*Reset margin padding*/
}

h1 {
    color: white;             /*Sets color of title to white*/
    font-size: 70px;
    
}

#description {
    background-color: #d3d3d3;
    height: 100px;              /*Sets height of input text box*/
    width: 800px;               /*Sets width of input text box*/
    margin-bottom: 60px;        /*Adds space of Xpx between text box and other options below it*/ 
}

#extraInputContainer {
    width: 750px;
    display: flex;
}

#extraInputContainer > * {      /*Targets all/each direct children with this ID*/
    margin-right: 20px;         /*Adds space to the right of Xpx amount*/
    margin-left: 20px;          /*Adds space to the left of Xpx amount*/
}

#ratingSlider {
    width: 50%;
    margin: 0 auto;             /*Makes the element horizontally*/
    display: flex;              /*Makes it a flex container*/
    justify-content: space-between;  /*Distribute space between elements*/
    align-items: center;        /*Center vertically*/
    flex-direction: column;
}

#labelContainer {
    display: flex;  /* Nested flex container for labels "1" and "10" */
    color: white;  
}

#ratingText {
    margin-right: 10px;
}

#currentRate {
    margin-left: 120px;
    color: white;  
}

#rating {
    width: 150px;               /*Slider input width*/
}

#ratingSlider label {
    flex-grow: 1;               /*Allow labels to take up available space*/
    text-align: center;         /*Center text within labels*/
}


#footerButtons > * {
    width: 100px;
    height: 40px;
    margin-top: 70px;           /*Adds top space of Xpx*/
    margin-right: 40px;          
    margin-left: 40px;
}

