:root {
    --emotionCount: 10;
    --degreeAmount: 360 / var(--emotionCount);
    --happy: 0;
    --happyDeg: calc(var(--happy) * var(--degreeAmount) * 1deg);
    --sad: 0;
    --sadDeg: calc(var(--sad) * var(--degreeAmount) * 1deg + var(--happyDeg));
    --angry: 0;
    --angryDeg: calc(var(--angry) * var(--degreeAmount) * 1deg + var(--sadDeg));
    --anxious: 0;
    --anxiousDeg: calc(var(--anxious) * var(--degreeAmount) * 1deg + var(--angryDeg));
    --peaceful: 0;
    --peacefulDeg: calc(var(--peaceful) * var(--degreeAmount) * 1deg + var(--anxiousDeg));
    --lazy: 0;
    --lazyDeg: calc(var(--lazy) * var(--degreeAmount) * 1deg + var(--peacefulDeg));
}

* {
    font-family: sans-serif;
}

body {
    background-color: #6F705B;
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #fff;
}

.x-box-container, .bars-container {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.x-box {
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    background-color: #fff;

    background: repeating-conic-gradient(
        from 0deg,
        #f6ff00 0deg var(--happyDeg),
        #00a2fa var(--happyDeg) var(--sadDeg),
        #cf0808 var(--sadDeg) var(--angryDeg),
        #5ab510 var(--angryDeg) var(--anxiousDeg),
        #d10a71 var(--anxiousDeg) var(--peacefulDeg),
        #5a0cad var(--peacefulDeg) var(--lazyDeg),
        #fff var(--lazyDeg) 360deg
    );
}

.x-box-cont {
    font-size: 30px;
    padding-left: 50px;
}

.x-box-cont h1, .number-data h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}

.x-box-cont strong, .bars-container strong {
    display: block;
    margin-bottom: 15px;
    text-align: right;
}

.chart{
    width: 600px;
    height: 300px;
    display: block;
}

.numbers {
    color: #fff;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 100%;
    display: inline-block;
    float: left;
}

.numbers li {
    list-style: none;
    height: 150px;
    position: relative;
    bottom: 145px;
}

.numbers span {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.bars {
    color: #fff;
    font-size: 12px;
    background: #555;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
}

.bars li {
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
}

.bars span {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

.bars .bar {
    display: block;
    background: rgb(12, 157, 206);
    width: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(12, 157, 206, .5);
}

.bars .bar:before {
    color: #fff;
    content: attr(data-amount);
    position: relative;
    bottom: 20px;
}

.bars-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.bar-chart {
    padding-right: 50px;
}

.number-data {
    margin-right: 20px; /* Adjust the right margin if needed */
}

.number-data strong {
    color: #fff;
    font-size: 30px;
}