:root {
    --emotionCount: 10;
    --degreeAmount: 360 / var(--emotionCount);
    --happy: 1;
    --happyDeg: calc(var(--happy) * var(--degreeAmount) * 1deg);
    --sad: 1;
    --sadDeg: calc(var(--sad) * var(--degreeAmount) * 1deg + var(--happyDeg));
    --angry: 1;
    --angryDeg: calc(var(--angry) * var(--degreeAmount) * 1deg + var(--sadDeg));
    --anxious: 1;
    --anxiousDeg: calc(var(--anxious) * var(--degreeAmount) * 1deg + var(--angryDeg));
    --peaceful: 1;
    --peacefulDeg: calc(var(--peaceful) * var(--degreeAmount) * 1deg + var(--anxiousDeg));
}

body {
    background-color: #2e2e2e;
    font-size: 16px;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    /**/
}

.x-box {
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    background-color: #fff;

    background: repeating-conic-gradient(
        from 0deg,
        #f6ff00 0deg var(--happyDeg),
        #00a2fa var(--happyDeg) var(--sadDeg),
        #cf0808 var(--sadDeg) var(--angryDeg),
        #5ab510 var(--angryDeg) var(--anxiousDeg),
        #d10a71 var(--anxiousDeg) var(--peacefulDeg),
        #5a0cad var(--peacefulDeg) 360deg
    );
}

.x-box-cont {
    font-size: 30px;
    padding-left: 50px;
}

.x-box-cont h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.x-box-cont strong{
    display: block;
    margin-bottom: 15px;
}